.login__main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 5px 20px 50px black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--container-color);
    margin: 3rem 0;
    font-family: 'Poppins', sans-serif !important;
}

.login__main:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


#chk {
    display: none;
}

.signup {
    position: relative;
    height: 100%;
    width: 100%;
}

.login__label {
    color: var(--title-color);
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif !important;
}

.login__input {
    width: 60% !important;
    height: 40px;
    /* background-color: #e0dede; */
    display: flex;
    justify-content: center;
    /* margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px; */
    color: var(--title-color);
    background-color: var(--input-color);
    border-radius: 0.5rem;
    border: 1px solid white;
    padding: 0.25rem 1rem 0.25rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif !important;
}

.login__button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    display: block;
    justify-content: center;
    color: black;
    background-color: var(--first-color-lighter);
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
    font-family: 'Poppins', sans-serif !important;
}

.login {
    height: 460px;
    background-color: var(--first-color-second);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
}

.login .login__label {
    color: var(--title-color);
    transform: scale(0.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}


#chk:checked~.login .login__label {
    transform: scale(1);
}


#chk:checked~.signup .login__label {
    transform: scale(0.6);
}

.danger__modal{
    background-color: #dc3545;
}

.danger__close{
    color: white;
}

.error__message-login{
    /* color: #212529; */
    color: black;
}